body
{
background-image:url("https://image.shutterstock.com/image-photo/pancakes-berries-maple-syrup-260nw-365501507.jpg")}
backbroung-repeat:no-repeat;
background-position:center;
background-attachment:scroll;
}