<style>
p
{
color:blue;
background-color:black;
font-family:verdana;

}
form
{
background-color:grey;
}
body
{
background-color:blue;
font-family:courier;
}
h4
{
color:orange;
}
h6
{
color:red;
}
a
{
color:red;
}
body
{
background-image:url("https://i.pinimg.com/564x/d6/7d/c6/d67dc61039c199824cc80ab518c6d496.jpg");
}
</style>
