<style>
h3
{
background-color:grey;
font-size:150%;
font-family:Georgia;

}
body
{
font-size:200%;}
background-repeat:no repeat;
background-image:url("https://i.pinimg.com/564x/9e/40/88/9e4088d22f9c55b61b835695805cc286.jpg")
p
{
background-color:orange;
font-family Georgia;
}
form
{
border:5px;
}
h3
{
background-color:grey;
font-size:150%;
font-family:Georgia;

}
form
{
background-color:grey;}
li
{
color:purple;
}


</style>